@model IEnumerable<Wardrobe.Models.Bottom>

@{
    ViewBag.Title = "Bottoms";
}

<h2 class="item-name-title">Bottoms</h2>
<div class="container-fluid creation-button">
    @Html.ActionLink("Get Funky", "Create", "Bottoms", null, new { @class = "btn btn-default" })
</div>

@*Basic thumbnail list format.  Look into categorization in future*@
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="thumbnail item-thumbnail">
                <div class="caption">
                    <img src="@Html.DisplayFor(modelItem => item.BottomPhoto)" alt="Item Picture" class="item-thumbnail-picture" />
                    <h3>@Html.DisplayFor(modelItem => item.BottomName)</h3>
                    <p>@Html.ActionLink("Details", "Details", new { id = item.BottomID }, new { @class = "btn btn-default", role = "button" })</p>
                </div>
            </div>
        </div>
    }
</div>