@model IEnumerable<Wardrobe.Models.Top>

@{
    ViewBag.Title = "Tops";
}

<h2 style="color:white">Tops</h2>

@Html.ActionLink("Add a New Top", "Create", "Tops", null, new { @class = "btn btn-default" })

@*Basic thumbnail list format.  Look into categorization in future*@
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="thumbnail item-thumbnail">
                <div class="caption">
                    <img src="@Html.DisplayFor(modelItem => item.TopPhoto)" alt="Item Picture" class="item-thumbnail-picture" />
                    <h3>@Html.DisplayFor(modelItem => item.TopName)</h3>
                    <p>@Html.ActionLink("Details", "Details", new { id = item.TopID }, new { @class = "btn btn-default", role = "button" })</p>
                </div>
            </div>
        </div>
    }
</div>