@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid jumbotron attention-grabber">
    <div class="container jumbotron-text-background">
        <h1>The Atychiphobe Wardrobe</h1>
        <h2>The Wardrobe of <span>Success</span></h2>
    </div>
</div>

<div class="row item-creation-row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="thumbnail item-creation item-creation-tops">
            <div class="container item-text-background">
                @Html.ActionLink("Add New Tops", "Create", "Tops", null, new { @style = "color: white" })
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="thumbnail item-creation item-creation-bottoms">
            <div class="container item-text-background">
                @Html.ActionLink("Add New Bottoms", "Create", "Bottoms", null, new { @style = "color: white" })
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="thumbnail item-creation item-creation-shoes">
            <div class="container item-text-background">
                @Html.ActionLink("Add New Shoes", "Create", "Shoes", null, new { @style = "color: white" })
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="thumbnail item-creation item-creation-accessories">
            <div class="container item-text-background">
                @Html.ActionLink("Add New Accessories", "Create", "Accessories", null, new { @style = "color: white"})
            </div>
        </div>
    </div>
</div>